.measure-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.data-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 129px;
  gap: 15px;
}

.meta-container,
.notes-container {
  position: relative;
  height: 129px;
  display: flex;
  flex-direction: row;
}

.meta-container {
}

.notes-container {
  flex-grow: 1;
}
