.measure-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: calc(var(--staff-space) * 31.25);
  flex-grow: 1;
}

/* Might remove this later*/
.meta-container > :first-child {
  margin-left: calc(var(--staff-space) * 1.25);
}

.data-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(var(--staff-space) * 16.125);
  gap: calc(var(--staff-space) * 1.875);
}

.meta-container,
.notes-container {
  position: relative;
  height: calc(var(--staff-space) * 16.125);
  display: flex;
  flex-direction: row;
}

.notes-container {
  flex-grow: 1;
}
