.clef-container {
  flex-grow: 0;
  width: 30px; /* adjust for spacing after clef */
  position: relative;
}

.clef {
  position: absolute;
}

.gClef {
  top: 10px;
}
.fClef {
  top: -9px;
}

.cClef {
  top: 0px;
}
