.time-signature-container {
  position: relative;
  margin-right: calc(var(--staff-space) * 1.875);
}

.normal-time-signature-container {
  position: relative;
  margin-right: calc(var(--staff-space) * 1.875);
}

.symbol-container {
  width: calc(var(--staff-space) * 1.875);
}

.number-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.number-top {
  top: calc(var(--staff-space) * -1);
}

.number-bottom {
  top: calc(var(--staff-space) * 1);
}
