.time-signature-container {
  position: relative;
  margin-right: 15px;
}

.normal-time-signature-container {
  position: relative;
  margin-right: 15px;
}

.symbol-container {
  width: 15px;
}

.number-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.number-top {
  top: -8px;
}

.number-bottom {
  top: 8px;
}
